@page "/Sample04b"
@using BlazorApp2.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore

@*アプリケーションサービス*@
@inject IDbContextFactory<PubsDbContext> DbFactory

<h3>Sample04b :大量ページング</h3>

    <div class="grid" tabindex="-1">
        <QuickGrid ItemsProvider="@ItemsProvider" Virtualize="true" ItemSize="5">
            <PropertyColumn Property="@(a => a.AuthorId)" Title="著者ID" />
            <PropertyColumn Property="@(a => a.AuthorFirstName)" Title="著者(名)" />
            <PropertyColumn Property="@(a => a.AuthorLastName)" Title="著者(性)" />
            <PropertyColumn Property="@(a => a.Phone)" Title="電話番号" />
            <PropertyColumn Property="@(a => a.State)" Title="州" />
            <PropertyColumn Property="@(a => a.Contract)" Title="契約有無" />
        </QuickGrid>
    </div>



@code {
    private GridItemsProvider<Author>? ItemsProvider { get; set; }

    private string? LogMessage { get; set; } //デバック用メッセージ

    protected override void OnInitialized()
    {
        ItemsProvider = async request =>
        {
            //ここはデバック用のコード
            LogMessage += "(" + request.StartIndex + " " + request.Count + ")";
            StateHasChanged();

            await using (var pubs = await DbFactory.CreateDbContextAsync())
            {
                var data = await pubs.Authors.Skip(request.StartIndex).Take(request.Count ?? 0).ToListAsync();
                var totalCount = await pubs.Authors.CountAsync();
                return GridItemsProviderResult.From(data, totalCount);
            }

        };
    }

}